#new-client{
    background: rgb(43,215,208);
    background: linear-gradient(180deg, rgba(43,215,208,1) 0%, rgba(97,191,182,1) 45%, rgba(31,144,65,1) 100%);
}
#search-client{
    background: rgb(34,214,12);
    background: linear-gradient(180deg, rgba(34,214,12,1) 0%, rgba(93,190,77,1) 35%, rgba(155,221,220,1) 100%);
}